extends layout

block content
  #navbar
    nav
      #home-link
        a Home
        .selector
      #about-link
        a About
        .selector
      #experience-link
        a Experience
        .selector
      #hobbies-link
        a Hobbies
        .selector
      #contact-link
        a Contact
        .selector
  #home
    .title
      p.name Kevin Wu
      p.tagline A personal website
  #about
    .container
      .wall
        .counter
          img.portrait(src="imgs/portrait.svg", alt="Portrait")
          img.student(src="imgs/backpack.svg", alt="Student")
          img.hacker(src="imgs/laptop.svg", alt="Hacker")
          img.gamer(src="imgs/desktop.svg", alt="Gamer")
          each val, key in about
            div(class=key + "-content content")
              .arrow
              img.cancel(src="imgs/cancel.svg", alt="Cancel")
              .text
                .actual-text= val
                .text-fade-before
                .text-fade-after
      .table
        .top
        .shadow
  #experience
    .container
      .timeline
        .bar
      .spacing
      each project in experience
        .content(id= project.id)
          if project.time
            .date #[span.strong S] #{project.time}
          .title #[span.strong= project.name]&nbsp;
            if project.github
              a(href=project.github, target="_blank") github
            if project.github && project.website
              &nbsp;&middot;&nbsp;
            if project.website
              a(href=project.website, target="_blank") website
          .text
            .actual-text= project.content
            .text-fade-before
            .text-fade-after
          .breakdown
  #hobbies
    .container
      .carousel
        img.prev(src="imgs/prev.svg", alt="Previous Button")
        .cube
          .front
          .back
          .left
          .right
          .top
          .bottom
        img.next(src="imgs/next.svg", alt="Next Button")
      .dotContainer
        .dots
      .padding
      .title
  #contact
    .container
      .title Find me at
      br
      a.email(href="#")
      br
      br
      .sources
        .github
          img(src="imgs/github.svg", alt="Github")
        .linkedin
          img(src="imgs/linkedin.svg", alt="LinkedIn")
        .resume
          img(src="imgs/resume.svg", alt="Resume")
    .footer Copyright &copy; 2015 - Kevin Wu

